.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.foto {
  /* mx-auto
  bg-gradient-to-b from-teal-500 
  rounded-full 
  w-56 
  h-56 
  relative 
  overflow-hidden 
  md:
  h-96 
  md:
  w-96 
  mb-2 
  background-color: #58f752;*/
  width: 56;
  height: 56;
  position: relative;
  overflow: hidden;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
